LOG_LEVEL=DEBUG
POSTGRES_USER=user
POSTGRES_PASSWORD=123
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=postgres
JSONPLACEHOLDER_API_URL=https://jsonplaceholder.typicode.com
SQLA_DB_ECHO=False