{% extends "_base.html" %}

{% block title %}
Коллекция книг
{% endblock %}

{% block main_content %}
<div style="display: flex; flex-direction: column; align-items: center">
    <h1>Список книг</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Автор</th>
                <th scope="col">Название</th>
                <th scope="col">Детали</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <th scope="row">{{ book.id }}</th>
                <td>{{ book.author }}</td>
                <td>{{ book.title }}</td>
                <td>
                    <a href="{{ url_for('book_detail', book_id=book.id) }}" type="button" class="btn btn-info" style="padding-block: 1px; padding-inline: 3px">Информация</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('book_create_page') }}" class="btn btn-success" style="margin-top: 15px;">Добавить книгу</a>
</div>
{% endblock%}