BLOG_APP__LOGGING__LEVEL=DEBUG
BLOG_APP__DB__USER=
BLOG_APP__DB__PASSWORD=
BLOG_APP__DB__HOST=
BLOG_APP__DB__PORT=5432
BLOG_APP__DB__NAME=
BLOG_APP__DB__SQLA__DB_ECHO=
BLOG_APP__API__JSONPLACEHOLDER_API_URL=